/* @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

*{
    font-family: "Anuphan";
} */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap');

@font-face {
    font-family: "Browilla";
    src: url('../assets/browalia.ttc') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "Browilla", serif;
    font-size: 1.1rem;
} */

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: "Sarabun";
    letter-spacing: 0.5px;
}

/* @font-face {
    font-family: "FC Mission Rounded";
    src: url('./FC\ Mission\ Rounded.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "FC Mission Rounded";
    font-size: 1.1rem;
} */

/* @font-face {
    font-family: "supermarket";
    src: url('./supermarket.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "supermarket";
    font-size: 1.1rem;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Kanit";
    font-weight: normal;
    font-style: normal;
} */