/* @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');


*{
    font-family: "Anuphan";
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap');

@font-face {
    font-family: "Browilla";
    src: url('../assets/browalia.ttc') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "Browilla", serif;
    font-size: 1rem;
}
